<div class="contact-wrapper">
    <mat-card class="contact-card">
        <mat-card-header class="contact-card-header">
            <h1>Contact</h1>
        </mat-card-header>
        <mat-card-content class="contact-card-content">
            <p>
                Pour nous contacter par courriel :<br/>
                <br/>
                <a href="mailto:mamadou.dia@culture.gouv.fr">mamadou.dia@culture.gouv.fr</a>                
            </p>
        </mat-card-content>
    </mat-card>
</div>