<div class="contact-wrapper">
    <mat-card class="contact-card">
        <mat-card-header class="contact-card-header">
            <h1>Contact</h1>
        </mat-card-header>
        <mat-card-content class="contact-card-content">
            <p>
                Pour contacter le ministère :<br/>
                <br/>
                <a href="https://www.culture.gouv.fr/Nous-contacter" target="_blank">https://www.culture.gouv.fr/Nous-contacter</a>                
            </p>
        </mat-card-content>
    </mat-card>
</div>