<div class="cgu-wrapper">
    <mat-card class="cgu-card">
        <mat-card-header class="cgu-card-header">
            <h1>CGU</h1>
        </mat-card-header>
        <mat-card-content class="cgu-card-content">
            <!-- <h2>Déclaration d’accessibilité</h2> -->
            <p>
                France Transfert est un service en bêta test, créé par le ministère de la culture pour aider ses usagers (citoyens, professionnels, entreprises, associations…) à envoyer aux services du ministère de la culture ou recevoir de la part des services du ministère de la culture, des fichiers et dossiers volumineux qui ne peuvent pas transiter par les messageries électroniques. 
                <br />
            </p>
            <p>
                Ce service ne permet pas de transférer des fichiers ou dossiers numériques volumineux entre usagers. 
                <br />
            </p>
            <p>
                Ce service est actuellement en phase d’évaluation.
                <br />
            </p>
            <p>
                C’est un service hébergé sur un cloud souverain (Outscale). Les fichiers ou dossiers sont donc stockés sur des serveurs français le temps qu’ils soient téléchargés par leur destinataire. 
                <br />
            </p>
            <p>
                Une fois récupérés par son ou ses destinataires, les fichiers et dossiers sont automatiquement supprimés. Si les fichiers ou dossiers ne sont pas récupérés par leurs destinataires, ils sont détruits automatiquement au bout de 30 jours. 
                <br />
            </p>
            <p>
                Le service identifie le poids total d’envoi de vos fichiers à des fins de statistique et d’information de votre ou vos destinataires. 
                <br />
            </p>
            <p>
                Pour des raisons de maintenance ou de fin du service, l’accès au service peut être interrompu ou suspendu sans préavis ni justification. 
                <br />
            </p>
            <p>
                Le ministère de la culture décline toute responsabilité sur la nature des fichiers ou dossiers transmis par les usagers avec le service FranceTransfert bêta. 
                <br />
            </p>
            <p>
                Les agents comme les usagers de FranceTransfert dans sa version bêta s’engagent à faire un usage raisonné du service et à l’utiliser à des fins administratives et non personnelles. 
                <br />
            </p>
            <p>
                Les présentes CGU sont valables pour une durée indéterminée.
                <br />
            </p>
            <p>
                Une nouvelle acceptation des CGU sera demandée en cas d’extension des services proposés par le service FranceTransfert ayant impliquée une modification des CGU. 
                <br />
            </p>
            <p>
                En cochant la case CGU, vous certifiez avoir lu et accepté les conditions générales d’utilisation du service FranceTransfert dans sa version bêta présentées sur cette page. 
                <br /><br />
            </p>
        </mat-card-content>
    </mat-card>
</div>