; Dépôts
registry=${NPM_GROUP}
@boost:registry=${nexus_registry} 

; base64 encoded authentication token7
_auth=${token_auth}

; force auth to be used for GET requests
always-auth=true

; we don't want to put certificates in .npmrc
strict-ssl=false
