<mat-toolbar class="footer-toolbar" *ngIf="!isMobile">
    <mat-toolbar-row class="footer-toolbar-row-bloc-marque">
        <div class="footer-toolbar-row-bloc-marque-left">
            <img class="footer-toolbar-row-bloc-marque-left-rep-fr" src="assets/logos/republique_francaise_logo.svg" />
        </div>
        <div class="footer-toolbar-row-bloc-marque-right">
            <div class="footer-toolbar-row-bloc-marque-right-text">
                <p>
                    Texte optionnel 3 lignes maximum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consectetur et vel quam auctor semper. Cras si amet mollis dolor.
                </p>
            </div>
            <div class="footer-toolbar-row-bloc-marque-right-links">
                <span class="link" (click)="goToLink('https://www.legifrance.gouv.fr/')">legifrance.gouv.fr</span>
                <span class="link"(click)="goToLink('https://www.gouvernement.fr/')">gouvernement.fr</span>
                <span class="link" (click)="goToLink('https://www.service-public.fr/')">service-public.fr</span>
                <span class="link" (click)="goToLink('https://www.data.gouv.fr/')">data.gouv.fr</span>
            </div>
        </div>
    </mat-toolbar-row>
    <mat-toolbar-row class="footer-toolbar-row-mentions">
        <div class="footer-toolbar-row-mentions-links">
            <span (click)="routeTo('/contact')" class="link">Contact</span>
            <span class="col-separator"></span>
            <span (click)="routeTo('/accessibilite')" class="link">Accessibilité : non conforme</span>
            <span class="col-separator"></span>
            <span (click)="routeTo('/mentions-legales')" class="link">Mentions légales</span>
            <span class="col-separator"></span>
            <span (click)="showTarteaucitronManager()" class="link">Gestion des cookies</span>
            <span class="col-separator"></span>
            <span class="link">Données personnelles</span>
        </div>
        <div class="footer-toolbar-row-mentions-text">
            <span>Sauf mention contraire, tous les textes de ce site sont sous licence etatlab-2.0</span>
            <span>Version : {{version}}</span>
        </div>
    </mat-toolbar-row>
</mat-toolbar>