<form [formGroup]="envelopeMailForm" class="envelope-mail-form-container">

    <div class="envelope-mail-form-info">
        <span>Les champs marqués d'une * sont obligatoires</span>
    </div>

    <div class="envelope-mail-form-group" [ngClass]="f.from.errors?.quota ? 'big-error' : ''">
      <mat-form-field>
        <mat-label>Destinataire(s) *</mat-label>
        <input id="recipientmail" name="recipientmail" matInput
            placeholder="les adresses courriels des destinataires" formControlName="to"
             #dest (blur)="onBlurDestinataires();" (keyup.enter)="dest.blur();focus();">
        <mat-icon class="icon-btn" aria-hidden="true" matSuffix
                  matTooltip="si l’expéditeur est un agent de l’Etat, le ou les destinataires peuvent être un agent de l’Etat ou un
                    particulier. Si l’expéditeur est un particulier, les destinataires ne peuvent être que des agents de l’Etat.">
          info_outline</mat-icon>
        <mat-icon class="icon-btn" aria-hidden="true"  matSuffix matTooltip="Utiliser une liste de contacts"
            (click)="openMailingListManager()">list_alt
        </mat-icon>

        <mat-error role="alert" *ngIf="f.to.errors?.required">Un destinataire est requis.</mat-error>
        <mat-error role="alert" *ngIf="f.to.errors?.email">Une adresse courriel valide est requise
            (JEAN.DUPONT@EMAIL.COM).</mat-error>
        <mat-error role="alert" *ngIf="f.to.errors?.notValid">Il est nécessaire que l'expéditeur ou que l'ensemble
            des destinataires soi(en)t un/des agent(s) de l'Etat</mat-error>
    </mat-form-field>
    </div>

    <div class="envelope-mail-form-group" [ngClass]="!f.to.valid && f.to.touched ? 'big-error' : ''">
        <mat-form-field>
            <mat-label>Destinataire(s) *</mat-label>
            <input id="recipientmail" name="recipientmail" matInput
                placeholder="les adresses courriels des destinataires" formControlName="to" #dest
                (blur)="onBlurDestinataires();" (keyup.enter)="dest.blur();focus();">
            <mat-icon class="icon-btn" aria-hidden="true" matSuffix
                matTooltip="si l’expéditeur est un agent de l’Etat, le ou les destinataires peuvent être un agent de l’Etat ou un
                        particulier. Si l’expéditeur est un particulier, les destinataires ne peuvent être que des agents de l’Etat.">
                info_outline</mat-icon>
            <mat-icon class="icon-btn" aria-hidden="true" matSuffix matTooltip="Utiliser une liste de contacts"
                (click)="openMailingListManager()">list_alt
            </mat-icon>

            <mat-error role="alert" *ngIf="f.to.errors?.required">Un destinataire est requis.</mat-error>
            <mat-error role="alert" *ngIf="f.to.errors?.email">Une adresse courriel valide est requise
                (JEAN.DUPONT@EMAIL.COM).</mat-error>
            <mat-error role="alert" *ngIf="f.to.errors?.notValid">Il est nécessaire que l'expéditeur ou que l'ensemble
                des destinataires soi(en)t un/des agent(s) de l'Etat</mat-error>

        </mat-form-field>
    </div>

    <div class="envelope-mail-form-group destinataire-flex">
        <mat-chip-list *ngIf="destinatairesList && destinatairesList.length > 0" class="destinataires-chip-list">
            <mat-chip *ngFor="let dest of destinatairesList; let index = index" class="destinataires-chip"
                (click)="deleteDestinataire(index)">{{dest}}</mat-chip>
        </mat-chip-list>
        <mat-icon *ngIf="destinatairesList && destinatairesList.length > 0" class="icon-btn icon-download"
            aria-hidden="true" matSuffix matTooltip="Exporter ma liste de destinataires au format CSV"
            (click)="exportDataCSV() ">cloud_download
        </mat-icon>
    </div>

    <div class="envelope-mail-form-group">
        <mat-form-field>
            <mat-label>Objet</mat-label>
            <input matInput placeholder="(Facultatif)" formControlName="subject" autocomplete="off">
        </mat-form-field>
    </div>

    <div class="envelope-mail-form-group">
        <mat-form-field>
            <mat-label>Message</mat-label>
            <textarea cdkTextareaAutosize cdkAutosizeMinRows="5" cdkAutosizeMaxRows="10" matInput
                placeholder="(Facultatif)" formControlName="message" autocomplete="off"></textarea>
        </mat-form-field>
    </div>

    <div class="mat-checkbox-layout">
        <mat-checkbox formControlName="cguCheck">J'accepte les <a class="link" rel="noopener noreferrer" href="cgu"
                target="_blank" class="link">CGU</a>
            et je n'envoie pas de données à caractère personnel ou sensibles non chiffrées au préalable</mat-checkbox>
    </div>
</form>
