<form [formGroup]="envelopeMailForm" class="envelope-mail-form-container">

    <div class="envelope-mail-form-info">
        <span>Les champs marqués d'une * sont obligatoires</span>
    </div>

    <div class="envelope-mail-form-group">
        <mat-form-field>
            <mat-label>Expéditeur</mat-label>
            <input matInput placeholder="Votre adresse mail" formControlName="from" autocomplete="email" required>
            <mat-error role="alert" *ngIf="f.from.errors?.required">Un expéditeur est requis.</mat-error>
            <mat-error role="alert" *ngIf="f.from.errors?.email">Une adresse courriel valide est requise.</mat-error>
            <mat-error role="alert" *ngIf="f.from.errors?.quota">Le quota d’envoi de l'expéditeur est dépassé
            </mat-error>
        </mat-form-field>
    </div>

    <div class="envelope-mail-form-group">
        <mat-form-field>
            <mat-label>Destinataire(s) *</mat-label>
            <input matInput placeholder="Mails des destinataires" formControlName="to" autocomplete="email"
                [errorStateMatcher]="matcher" (blur)="onBlurDestinataires()">
            <mat-icon class="icon-btn" matSuffix matTooltip="Utiliser une liste de contacts"
                (click)="openMailingListManager()">list_alt
            </mat-icon>
            <mat-error role="alert" *ngIf="f.to.errors?.required">Un destinataire est requis.</mat-error>
            <mat-error role="alert" *ngIf="f.to.errors?.email">Une adresse courriel valide est requise.</mat-error>
            <mat-error role="alert" *ngIf="f.to.errors?.notValid">France transfert est réservé aux échanges entre et
                avec le personnel de l’État.</mat-error>

        </mat-form-field>
    </div>

    <div class="envelope-mail-form-group">
        <mat-chip-list class="destinataires-chip-list">
            <mat-chip *ngFor="let dest of destinatairesList; let index = index" class="destinataires-chip"
                (click)="deleteDestinataire(index)">{{dest}}</mat-chip>
        </mat-chip-list>
    </div>

    <div class="envelope-mail-form-group">
        <mat-form-field>
            <mat-label>Objet</mat-label>
            <input matInput placeholder="(Facultatif)" formControlName="subject" autocomplete="off">
        </mat-form-field>
    </div>

    <div class="envelope-mail-form-group">
        <mat-form-field>
            <mat-label>Message</mat-label>
            <textarea cdkTextareaAutosize cdkAutosizeMinRows="5" cdkAutosizeMaxRows="10" matInput
                placeholder="(Facultatif)" formControlName="message" autocomplete="off"></textarea>
        </mat-form-field>
    </div>

    <div class="mat-checkbox-layout">
        <mat-checkbox formControlName="cguCheck">J'accepte les <span class="link"
                (click)="routeToInNewWindow('/cgu')">CGU</span>
            et je n'envoie pas de données à caractère personnel ou sensibles non chiffrées au préalable</mat-checkbox>
    </div>
</form>