.envelope-mail-form-container {

    .envelope-mail-form-info {
        display: flex;
        justify-content: flex-end;
        color: var(--ft-mention);
        font-size: 12px;
    }

    .big-error{
        margin-bottom: 2.2rem;
    }

    ::ng-deep .mat-checkbox-layout {
      white-space: normal!important;
    }

    .icon-download{
      margin-left: auto;
      order: 2;
    }
    
    .mat-form-field {
        width: 100%;

        .icon-btn {
            cursor: pointer;
        }
    }
    .link {
        color: var(--ft-blue-france);
        text-decoration: underline;
    }
    .destinataires-chip-list {
        ::ng-deep .mat-chip-list-wrapper {
            margin-top: 20px;
            width: 100%;
            max-height: 8rem;
            overflow: auto;
        }
        .destinataires-chip {
            background-color: #DBDBEA;
            color: var(--ft-blue-france);
            cursor: pointer;
            height: auto !important;
        }
    }
}
@media screen and  (min-width: 1000px) {
  .envelope-mail-form-container {
    height: 100%;
    .big-error{
      margin-bottom: 4.2rem;
    }
  }
}
@media screen and (min-width: 812px) and (max-width: 1000px) {
  .envelope-mail-form-container {
    height: 100%;
    .big-error{
      margin-bottom: 6.2rem;
    }
  }
}

@media screen and (min-width: 480px) and (max-width: 812px) {
    .envelope-mail-form-container {
        height: 100%;
      .big-error{
        margin-bottom: 5.2rem;
      }
    }

}

@media screen and (min-width: 200px) and (max-width: 480px) {
    .envelope-mail-form-container {
        overflow: hidden;
      .big-error{
        margin-bottom: 7.2rem;
      }
    }
    }

