<div class="accessibilite-wrapper">
    <mat-card class="accessibilite-card">
        <mat-card-header class="accessibilite-card-header">
            <h1 #accessibilite>Accessibilité</h1>
        </mat-card-header>
        <mat-card-content class="accessibilite-card-content">
            <h2 #declarationaccessibilite>Déclaration d’accessibilité</h2>
            <p>
                <span>Le ministère de la culture s’engage à rendre ses sites internet, intranet, extranet accessibles
                    conformément à l’article 47 de la loi n° 2005-102 du 11 février 2005.</span>
                <span>A cette fin, il met en œuvre la stratégie et les actions suivantes : <a
                        href="https://www.gouvernement.fr/schema-pluriannuel-d-accessibilite-2020-2022-du-service-d-information-du-gouvernement"
                        target="_blank">schéma pluriannuel d'accessibilité du gouvernement</a>.</span>
                <span>Cette déclaration d’accessibilité s’applique au site <a
                        href="https://francetransfert.culture.gouv.fr/upload"
                        target="_blank">https://francetransfert.culture.gouv.fr/upload</a>.</span>
            </p>
            <h2 #etatdeconformite>État de conformité</h2>
            <p>
                <span>Le site <a href="https://francetransfert.culture.gouv.fr/upload"
                        target="_blank">https://francetransfert.culture.gouv.fr/upload</a> n’est pas en conformité avec
                    le référentiel général d’amélioration de l’accessibilité RGAA version 4.1. Les non-conformités et
                    les éventuelles dérogations sont énumérées ci-dessous.</span>
            </p>
            <h3>Résultats des tests</h3>
            <p>
                <span>L’audit de conformité réalisé par la société <a href="https://empreintedigitale.fr/"
                        target="_blank">Empreinte Digitale</a> révèle que :</span>
            </p>
            <ul>
                <li>
                    <span>46,81% des critères RGAA sont respectés.</span>
                </li>
                <li>
                    <span>Le taux moyen de conformité du service en ligne s’élève à 73% (information
                        facultative).</span>
                </li>
            </ul>
            <h3>Contenus inaccessibles</h3>
            <p>
                <span>Les contenus listés ci-dessous ne sont pas accessibles pour les raisons suivantes.</span>
            </p>
            <h4>Non conformité</h4>
            <p>
                <span>Ne sont listées ici que les non-conformités jugées les plus impactantes et présentes en quantités
                    importantes dans les pages de l’échantillon. Sur demande, le résultat complet de l’audit peut être
                    mis à disposition.</span>
            </p>
            <ul>
                <li>
                    <span>Les images de décorations ne sont pas ignorées par les technologies d’assistance</span>
                </li>
                <li>
                    <span>Certains textes ont un ratio de contraste insuffisant avec leur arrière-plan</span>
                </li>
                <li>
                    <span>Certains liens ont des intitulés qui ne sont pas assez explicites</span>
                </li>
                <li>
                    <span>Certains composants riches ne sont pas compatibles avec les technologies d’assistance</span>
                </li>
                <li>
                    <span>Certains scripts ne sont pas contrôlables par le clavier ou tout autre dispositif de
                        pointage</span>
                </li>
                <li>
                    <span>Certains scripts initient des changements de contexte sans que l’utilisateur en soit averti ou
                        en aie le
                        contrôle</span>
                </li>
                <li>
                    <span>Le code source de certaines pages comporte des erreurs</span>
                </li>
                <li>
                    <span>Les titres de certaines pages ne sont pas pertinents</span>
                </li>
                <li>
                    <span>Certaines balises ne sont pas correctement utilisées</span>
                </li>
                <li>
                    <span>La structure du document dans les pages du site n’est pas cohérente</span>
                </li>
                <li>
                    <span>Certaines listes ne sont pas correctement implémentées</span>
                </li>
                <li>
                    <span>En cas de zoom, certains textes ne sont plus lisibles</span>
                </li>
                <li>
                    <span>Sur certains éléments, la prise de focus n’est pas visible</span>
                </li>
                <li>
                    <span>Avec une largeur réduite, la navigation nécessite un scroll horizontal</span>
                </li>
                <li>
                    <span>Dans certaines pages, les contenus additionnels apparaissant à la prise de focus ou au survol
                        d’un
                        composant d’interface ne sont pas contrôlables par l’utilisateur</span>
                </li>
                <li>
                    <span>Certains champs de formulaires n’ont pas d’étiquettes ou ont des étiquettes non
                        pertinentes</span>
                </li>
                <li>
                    <span>Les intitulés des boutons de certains champs de formulaires ne sont pas pertinents</span>
                </li>
                <li>
                    <span>Le contrôle de saisie des champs de formulaires n’est pas utilisé de manière pertinente, et ne
                        contient
                        pas de suggestions facilitant la gestion des erreurs de saisie</span>
                </li>
                <li>
                    <span>La finalité des champs de formulaire ne peut pas toujours être déduite pour faciliter le
                        remplissage
                        automatique avec les données utilisateurs</span>
                </li>
                <li>
                    <span>Les zones de regroupement de contenus ne sont pas présentes dans le site</span>
                </li>
                <li>
                    <span>Les pages du site ne contiennent pas de liens d’accès rapides</span>
                </li>
                <li>
                    <span>L’ordre de tabulation n’est pas cohérent sur certaines pages</span>
                </li>
                <li>
                    <span>Les contenus additionnels présents sur le site et apparaissant au survol, à la prise de focus
                        ou à
                        l’activation d’un composant ne sont pas atteignables au clavier</span>
                </li>
            </ul>
            <h4>Dérogations pour charge disproportionnée</h4>
            <p>
                <span>Néant</span>
            </p>
            <h4>Contenus non soumis à l’obligation d’accessibilité</h4>
            <p>
                <span>Néant</span>
            </p>
            <h3>Établissement de cette déclaration d’accessibilité</h3>
            <p>
                <span>Cette déclaration a été établie le 08/10/2021.</span>
            </p>
            <h4>Technologies utilisées pour la réalisation [Du site web / De l’application mobile / Du service…]</h4>
            <ul>
                <li>
                    <span>Angular;</span>
                </li>
                <li>
                    <span>Angular Material UI.</span>
                </li>
            </ul>
            <h4>Agents utilisateurs, technologies d’assistance et outils utilisés pour vérifier l’accessibilité</h4>
            <p>
                <span>Les vérifications de restitution de contenus ont été réalisées avec les configurations suivantes :</span>
            </p>
            <ul>
                <li>
                    <span>Firefox et NVDA ;</span>
                </li>
                <li>
                    <span>Safari et VoiceOver;</span>
                </li>
                <li>
                    <span>Firefox et Jaws.</span>
                </li>
            </ul>
            <p>
                <span>Les outils de vérification du code suivants ont été utilisés afin de vérifier la conformité aux tests du RGAA :</span>
            </p>
            <ul>
                <li>
                    <span>Colour Contrast Analyser ;</span>
                </li>
                <li>
                    <span>Extension « Web Developer » ;</span>
                </li>
                <li>
                    <span>Extension « Assistant RGAA » ;</span>
                </li>
                <li>
                    <span>Extension « WCAG Contrast checker » ;</span>
                </li>
                <li>
                    <span>Extension « ARC Toolkit » ;</span>
                </li>
                <li>
                    <span>Extension « HeadingsMap » ;</span>
                </li>
                <li>
                    <span>Outils pour développeurs intégrés au navigateur Firefox ;</span>
                </li>
                <li>
                    <span>Validateur HTML du W3C.</span>
                </li>
            </ul>	
            <h4>Pages du site ayant fait l’objet de la vérification de conformité</h4>
            <ul>
                <li>
                    <span>page d’accueil / upload des fichiers : <a href="https://integration.francetransfert.culture.gouv.fr/upload" target="_blank">https://integration.francetransfert.culture.gouv.fr/upload</a></span>
                </li>
                <li>
                    <span>page contact : <a href="https://integration.francetransfert.culture.gouv.fr/contact" target="_blank">https://integration.francetransfert.culture.gouv.fr/contact</a></span>
                </li>
                <li>
                    <span>page mentions légales : <a href="https://integration.francetransfert.culture.gouv.fr/mentions-legales" target="_blank">https://integration.francetransfert.culture.gouv.fr/mentions-legales</a></span>
                </li>
                <li>
                    <span>page « accessibilité » : <a href="https://integration.francetransfert.culture.gouv.fr/accessibilite" target="_blank">https://integration.francetransfert.culture.gouv.fr/accessibilite</a></span>
                </li>
                <li>
                    <span>Page FAQ : <a href="https://integration.francetransfert.culture.gouv.fr/faq" target="_blank">https://integration.francetransfert.culture.gouv.fr/faq</a></span>
                </li>
            </ul>
            <h2 #retourinformationetcontact>Retour d'information et contact</h2>
            <p>
                <span>Si vous n’arrivez pas à accéder à un contenu ou à un service, vous pouvez contacter le responsable du site internet pour être orienté vers une alternative accessible ou obtenir le contenu sous une autre forme.</span>
            </p>
            <ul>
                <li><a href="https://www.culture.gouv.fr/Nous-contacter/#novaform" target="_blank">Envoyer un message</a></li>
            </ul>
            <h2 #voiederecours>Voie de recours</h2>
            <p>
                <span>Cette procédure est à utiliser dans le cas suivant.</span>
                <span>Vous avez signalé au responsable du site internet un défaut d’accessibilité qui vous empêche d’accéder à un contenu ou à un des services du portail et vous n’avez pas obtenu de réponse satisfaisante.</span>
            </p>
            <ul>
                <li><span>Écrire un message au Défenseur des droits (<a href="https://formulaire.defenseurdesdroits.fr/defenseur/code/afficher.php?ETAPE=informations" target="_blank">via le formulaire de contact</a>) ;</span></li>
                <li><span>Contacter le délégué du Défenseur des droits dans votre région ( <a href="https://www.defenseurdesdroits.fr/saisir/delegues" target="_blank">https://www.defenseurdesdroits.fr/saisir/delegues</a>) ;</span></li>
                <li><span>Envoyer un courrier par la poste (gratuit, ne pas mettre de timbre) Défenseur des droits Libre réponse 71120 75342 Paris CEDEX 07 ;</span></li>
                <li><span>Contacter le Défenseur des droits par téléphone : 09 69 39 00 00.</span></li>
            </ul>
        </mat-card-content>
    </mat-card>
</div>