<div class="upload-choice">
  <div class="prefect-scoll" [perfectScrollbar]="{}">
    <div class="upload-choice-icon"></div>
    <div class="upload-choice-details">
      <h3>Envoi réussi !</h3>
      <p class="text-gris-m1">
        Un courriel de confirmation vous a été envoyé. Nous venons d’envoyer un courriel à votre (vos) destinataire(s)
        pour le(s) prévenir de votre envoi.
      </p>
      <br />
      <p class="text-gris-m1">
        Votre transfert sera disponible jusqu'au <strong>{{ limitDate | date: 'dd MMMM yyyy':'fr' }}</strong>
      </p>
      <p class="upload-choice-details-link" (click)="goto('uploadContent')">
        Voir le contenu
      </p>
    </div>
    <div class="upload-choice-view">
      <h4>
        Je donne mon avis
      </h4>
      <p class="text-gris-m1">
        Comment trouvez-vous le service FranceTransfert ?
      </p>
      <div class="icons">
        <img
          *ngFor="let icon of icons; let i = index"
          [src]="'./assets/images/icons/Utilisateur/' + getIcon(icon, i) + '.svg'"
          alt="{{ icon + 'icon' }}"
          (click)="selectedView = i; activeView = true"
          [ngClass]="{ active: selectedView === i }"
        />
      </div>
      <textarea placeholder="Message (facultatif)" [(ngModel)]="message" maxlength="2000"></textarea>
      <button class=" button button-stroked" [ngClass]="{ disabled: !activeView || haveChoice }" (click)="makeChoice()">
        Valider mon avis
      </button>
    </div>
  </div>
  <div class="upload-choice-button">
    <button class=" button button-primary" [ngClass]="{ disabled: !haveChoice }" (click)="goto('uploadForm')">
      Un nouvel envoi ?
    </button>
  </div>
</div>
