<div class="upload-choice">
  <div class="upload-choice-icon"></div>
  <div class="upload-choice-details">
    <h3>Envoi réussi !</h3>
    <p class="text-gris-m1">
      Un courriel de confirmation vous a été envoyé. Nous venons d’envoyer un courriel à votre (vos) destinataire(s)
      pour récupérer votre téléchargement.
    </p>
    <br />
    <p class="text-gris-m1">Votre transfert sera disponible <b>pendant 30 jours.</b></p>
    <p class="upload-choice-details-link" (click)="goto('uploadContent')">
      Voir le contenu
    </p>
  </div>
  <div class="upload-choice-view">
    <h4>
      Je donne mon avis
    </h4>
    <p class="text-gris-m1">
      Comment trouvez-vous le service FranceTransfert ?
    </p>
    <div class="icons">
      <img
        *ngFor="let icon of icons; let i = index"
        [src]="'./assets/images/icons/Utilisateur/' + getIcon(icon, i + 1) + '.svg'"
        alt="{{ icon + 'icon' }}"
        (click)="selectedView = i + 1; activeView = true"
        [ngClass]="{ active: selectedView === i + 1 }"
      />
    </div>
    <textarea placeholder="Message (facultatif)"></textarea>
    <button class=" button button-stroked" [ngClass]="{ disabled: !activeView }" (click)="makeChoice()">
      Valider mon avis
    </button>
  </div>
  <div class="upload-choice-button">
    <button class=" button button-primary" (click)="goto('uploadForm')">
      Un nouvel envoi ?
    </button>
  </div>
</div>
