<mat-card class="check-validation-code-card" *ngIf="component === 'upload'">
    <form [formGroup]="verificationCodeForm" class="verification-code-form-container">
        <mat-card-content class="check-validation-code-card-content">
            <mat-icon class="check-validation-code-card-content-icon">lock_outline</mat-icon>
            <div class="check-validation-code-card-content-text">
                <span class="check-validation-code-card-content-text-title">Vérifiez votre adresse mail</span>
                <span class="check-validation-code-card-content-text-sub">Saisissez le code qui vous a été envoyé à
                    {{email}}
                    (vérifiez votre dossier spam).</span>
            </div>
            <div class="check-validation-code-card-content-error" *ngIf="error && error.statusCode === 401">
                <span>Le code de vérification est invalide.</span><br />
                <span *ngIf="error.codeTryCount > 0">Nombre d'échecs : {{error.codeTryCount}}</span>
                <span *ngIf="!error.codeTryCount">Suite à 5 erreurs de validation du code votre pli est annulé</span>
            </div>
            <div class="check-validation-code-card-content-error" *ngIf="error && error.statusCode === 400">
                <span>Une erreur technique s'est produite.</span>
            </div>
            <div class="verification-code-form-group">
                <mat-form-field>
                    <mat-label>Code de vérification</mat-label>
                    <input matInput formControlName="verificationCode" required>
                    <mat-error *ngIf="f.verificationCode.errors?.required">Veuillez entrer votre code de
                        vérification.</mat-error>
                </mat-form-field>
            </div>
        </mat-card-content>
        <mat-card-actions class="check-validation-code-card-actions">
            <button mat-raised-button
                    class="check-validation-code-card-actions-btn" *ngIf="error && error.statusCode === 401 && !error.codeTryCount" (click)="backToHome()">Accueil</button>
            <button mat-raised-button
                class="check-validation-code-card-actions-btn" *ngIf="!error || (error && error.statusCode === 401 && error.codeTryCount)" (click)="cancel()">Annuler</button>
            <button type="submit" [disabled]="!verificationCodeForm.valid" mat-raised-button
                class="check-validation-code-card-actions-btn" *ngIf="!error || (error && error.statusCode === 401 && error.codeTryCount)" (click)="validateForm()">Valider</button>
        </mat-card-actions>
    </form>
</mat-card>
<mat-card class="check-validation-code-card" *ngIf="component === 'download'">
    <form [formGroup]="verificationCodeForm" class="verification-code-form-container">
        <mat-card-content class="check-validation-code-card-content">
            <mat-icon class="check-validation-code-card-content-icon">lock_outline</mat-icon>
            <div class="check-validation-code-card-content-text">
                <span class="check-validation-code-card-content-text-title">Halte-là !</span>
                <span class="check-validation-code-card-content-text-sub">La saisie d’un mot de passe est nécessaire
                    pour télécharger ce transfert.</span>
            </div>
            <div class="check-validation-code-card-content-error" *ngIf="error && error.statusCode === 401">
                <span>Le mot de passe est invalide.</span><br />
                <span *ngIf="error.codeTryCount > 0">Nombre d'échecs : {{error.codeTryCount}}</span>
                <span *ngIf="!error.codeTryCount && error.message">{{error.message}}</span>
            </div>
            <div class="check-validation-code-card-content-error" *ngIf="error && error.statusCode === 400">
                <span>Une erreur technique s'est produite.</span>
            </div>
            <div class="verification-code-form-group">
                <mat-form-field>
                    <mat-label>Mot de passe</mat-label>
                    <input matInput formControlName="verificationCode" required>
                    <mat-error *ngIf="f.verificationCode.errors?.required">Veuillez entrer le mot de passe.</mat-error>
                </mat-form-field>
            </div>
        </mat-card-content>        
        <mat-card-actions class="check-validation-code-card-actions">
            <button type="submit" [disabled]="!verificationCodeForm.valid" mat-raised-button
                class="check-validation-code-card-actions-btn" (click)="validateForm()">Valider</button>
        </mat-card-actions>
    </form>
</mat-card>