<div class="mentions-legales-wrapper">
    <mat-card class="mentions-legales-card">
        <mat-card-header class="mentions-legales-card-header">
            <h1>Mentions légales</h1>
        </mat-card-header>
        <mat-card-content class="mentions-legales-card-content">
            <h2>Éditeur</h2>
            <p>
                Ministère de la Culture<br/>
                182, rue Saint Honoré<br/>
                75001 Paris <br/><br/>
            </p>
            <h2>Responsable de la publication</h2>
            <p>
                Le chef du Service Numérique du Ministère de la Culture
                <br /><br />
            </p>
            <h2>Liens vers les pages du site</h2>
            <p>
                Tout site public ou privé est autorisé à établir un lien vers les pages de ce site. Il n’y a pas d’autorisation préalable.<br/>
                Les pages de ce site ne devront pas être imbriquées à l’intérieur des pages d’un autre site. Elles devront être affichées dans une nouvelle fenêtre. 
                <br/><br/>
            </p>
            <h2>Développement</h2>
            <p>
                OPEN : Carré Champerret - 28 rue Jacques Ibert - CS 10149 -92309 Levallois Perret Cedex 
                <br/><br/>
            </p>
            <h2>Hébergement</h2>
            <p>
                OUTSCALE : 1, rue Royale – 319 Bureaux de la Colline 92210 Saint-Cloud 
                <br/><br/>
            </p>
            <h2>Droits des personnes</h2>
            <p>
                Une donnée à caractère personnel est définie de la manière suivante : toute information relative à une personne physique susceptible d'être identifiée, directement ou indirectement. Sont ainsi considérées comme données à caractère personnel, les adresses courriel, et les adresses IP.
                <br/><br/>
                Le service FranceTransfert bêta se conforme dans la collecte et la gestion de vos données à caractère personnel, à la loi n° 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, dans sa version actuelle, dite « Informatique et Libertés », et au règlement (UE) 2016/679 du 27 avril 2016 (dit « RGPD »).
                <br/><br/>
                1. Les données à caractère personnel qui vous sont demandées sont nécessaires pour accéder au service FranceTransfert. Elles sont destinées au Service Numérique du ministère de la culture. La base légale du traitement est l’exécution d’une mission d’intérêt public.
                <br/><br/>
                2. Elles seront communiquées pour ces mêmes finalités aux personnes du ministère de la culture maintenant en condition opérationnelle le service FranceTransfert bêta.
                <br/><br/>
                3. Délais de conservation des données à caractère personnel
                <br/><br/>
                Les données sont enregistrées et conservées dans les conditions décrites ci-après :
                <br/><br/>
                Pour une durée 13 mois, lorsque le service identifie si vous êtes un nouvel utilisateur à des fins exclusives de statistiques, à compter de la première connexion.
                <br/><br/>
                Pour une durée illimitée, jusqu’au vidage du cache utilisateur pour les adresses courriels auxquelles vous avez envoyé des fichiers. Ceci afin de faciliter leur saisie lors des nouveaux envois à ces destinataires.
                <br/><br/>
                Pour une durée de 31 jours, le service identifie si vous avez déjà confirmé votre adresse courriel, afin d’éviter toute usurpation d’identité, si vous êtes un agent du ministère de la culture.
                <br/><br/>
                4. Le ministère de la culture s’engage à prendre toutes les mesures nécessaires pour garantir la sécurité et la confidentialité de vos données, dans le respect du cadre légal. Il s’engage en outre à n’opérer aucune commercialisation des informations que vous nous transmettez et à ne pas les communiquer à des tiers, en dehors des cas prévus par la loi.
                <br/><br/>
                5. Vous bénéficiez d’un droit d’accès, de rectification, d’effacement, d’un droit à la portabilité des informations qui vous concernent ainsi que d’un droit à la limitation des traitements qui s’exercent auprès du Délégué à la protection des données par courrier électronique à l’adresse suivante : delegue-protection-donnees@culture.gouv.fr ou par courrier postal à l’adresse suivante, Déléguée ministérielle à la protection des données – 182 rue Saint-Honoré – 75033 Paris Cedex 01, en justifiant de votre identité par tout moyen.
                <br/><br/>
                6. Vous avez le droit d’introduire une réclamation auprès de la Commission Nationale de l’Informatique et des Libertés (CNIL), autorité de contrôle en charge du respect des obligations en matière de données à caractère personnel. 
                <br/><br/>
            </p>
        </mat-card-content>
    </mat-card>
</div>