<div class="mentions-legales-wrapper">
    <mat-card class="mentions-legales-card">
        <mat-card-header class="mentions-legales-card-header">
            <h1>Mentions légales</h1>
        </mat-card-header>
        <mat-card-content class="mentions-legales-card-content">
            <h2>Éditeur</h2>
            <p>
                Ministère de la Culture<br/>
                182, rue Saint Honoré<br/>
                75001 Paris <br/><br/>
            </p>
            <h2>Responsable de la publication</h2>
            <p>
                Le chef du Service Numérique du Ministère de la Culture
                <br /><br />
            </p>
            <h2>Liens vers les pages du site</h2>
            <p>
                Tout site public ou privé est autorisé à établir un lien vers les pages de ce site. Il n’y a pas d’autorisation préalable.<br/>
                Les pages de ce site ne devront pas être imbriquées à l’intérieur des pages d’un autre site. Elles devront être affichées dans une nouvelle fenêtre. 
                <br/><br/>
            </p>
            <h2>Développement</h2>
            <p>
                OPEN : Carré Champerret - 28 rue Jacques Ibert - CS 10149 -92309 Levallois Perret Cedex 
                <br/><br/>
            </p>
            <h2>Hébergement</h2>
            <p>
                OUTSCALE : 1, rue Royale – 319 Bureaux de la Colline 92210 Saint-Cloud 
                <br/><br/>
            </p>
        </mat-card-content>
    </mat-card>
</div>