<mat-card class="download-elements-card">
    <mat-card-content class="download-elements-card-content">
        <mat-icon class="download-elements-card-content-icon" aria-hidden="true">file_download</mat-icon>
        <div class="download-elements-card-content-text">
            <span class="download-elements-card-content-text-title"> {{'Prêt_Partez' | translate}} </span>
            <span class="download-elements-card-content-text-sub"> {{'Jours_Restants1' | translate}} {{ remainingDays }}
                {{'Jours_Restants2' | translate}} </span>
        </div>

    </mat-card-content>
    <div class="download-elements-div-CGU">
        <mat-checkbox (click)="cguChecked()" formControlName="cguCheck" class="checkbox">
            <div [innerHTML]="'Acceptation_CGU' | translate">
            </div>
        </mat-checkbox>
    </div>
    <mat-card-actions class="download-elements-card-actions">
        <button mat-raised-button [disabled]="!checkCGU || buttonDisable" class="download-elements-card-actions-btn"
            (click)="download()">{{'Télécharger' | translate}} </button>
    </mat-card-actions>
</mat-card>