* {
  font-family: Muli, sans-serif;
}

body {
  margin: 0;
}

p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin: 0;
}

.font-semi-bold {
  font-weight: 600;
}

.errors-page-container {
  max-width: 815px;
  margin: 15% auto 0;
  position: relative;
}

.errors-page-container .logo {
  position: absolute;
  top: -110px;
  left: calc(50% - 155px);
  /* cursor: pointer; */
}

.errors-page-container h1 {
  margin: 0.5em 0 0.5em 0;
  /* font-size: 110px; */
  font-size: 60px;
  line-height: inherit;
  font-weight: 700;
  color: #0269cc;
}

.errors-page-illustration {
  float: left;
  height: 325px;
  width: 417px;
  position: relative;
}

.errors-page-illustration::before {
  /* N.B. Préfixer tous les fragments d'URL par /maintenance/ */
  content: '';
  position: absolute;
  background-image: url(/maintenance/it_support.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.errors-page-content {
  position: relative;
  text-align: center;
  overflow: hidden;
}
