<div class="admin-wrapper">
  <mat-card class="admin-card">
    <mat-card-header class="admin-card-header" *ngIf="transfers">
      <mat-card-title>
        <h2>Administration du pli</h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="admin-card-content">
      <div class="admin-card-content-error" *ngIf="errorMessage">
        <span>{{errorMessage}}</span>
      </div>
      <div class="admin-card-content-infos" *ngIf="fileInfos">
        <div class="subheader">
          <span>Informations du pli</span>
        </div>
        <mat-list role="list">
          <ng-container *ngIf="!(fileInfos?.recipientsMails.length != 0 || fileInfos?.deletedRecipients.length != 0)">
            <mat-list-item role="listitem"><span>Nombre de téléchargements : {{fileInfos.downloadCount}}</span>
            </mat-list-item>
          </ng-container>
          <mat-list-item role="listitem"><span>Emetteur : {{fileInfos.senderEmail}}</span></mat-list-item>
          <mat-list-item role="listitem"><span>Message : {{fileInfos.message}}</span></mat-list-item>
          <mat-list-item role="listitem"><span>Date d'émission : {{fileInfos.timestamp | date:
              'medium'}}</span>
          </mat-list-item>
          <mat-list-item role="listitem"><span>Date de fin de validité : {{fileInfos.validUntilDate | date:
              'medium'}}</span>
            <mat-form-field style="width:1px;visibility:hidden;">
              <input matInput [matDatepicker]="picker" [formControl]="validUntilDate" [min]="minDate" [max]="maxDate">
              <mat-datepicker #picker (closed)="onPickerClose()"></mat-datepicker>
            </mat-form-field>
            <mat-icon matTooltip="Modifier la date de fin de validité" (click)="picker.open()"
              aria-label="Modifier la date de fin de validité">edit
            </mat-icon>
          </mat-list-item>
          <mat-list-item role="listitem" class="delete"><span>Supprimer le pli :</span>
            <mat-icon matTooltip="Supprimer le pli" (click)="deleteFile()" aria-label="Supprimer le pli">delete
            </mat-icon>
          </mat-list-item>
          <div *ngIf="fileInfos?.recipientsMails.length != 0 || fileInfos?.deletedRecipients.length != 0">
            <div class="admin-card-content-files">
              <div class="subheader respientHeader">
                <span>Les destinataires : </span>
                <mat-icon *ngIf=" !add" matTooltip="Ajouter un destinataire" style="color: black;cursor: pointer;"
                  (click)="addRecipient()" aria-label="Ajouter un destinataire">add_box</mat-icon>
                <mat-icon *ngIf="close" matTooltip="Terminer" style="color: black;cursor: pointer;"
                  (click)="addRecipient()" aria-label="terminer">close</mat-icon>
              </div>
            </div>
            <div *ngIf="add" class="addDestinataire" [ngClass]="errorValidEmail || errorEmail ? 'big-error' : ''">
              <form [formGroup]="envelopeDestForm" class="addForm">
                <mat-form-field class="example-full-width">
                  <mat-label>Courriel du destinataire</mat-label>
                  <input id="recipientmail" name="recipientmail" formControlName="email" type="email" matInput
                    placeholder="JEAN.DUPONT@EMAIL.COM" #dest (blur)="onBlurDestinataires();"
                    (keyup.enter)="dest.blur();">
                  <mat-error role="alert" *ngIf="envelopeDestForm.controls.email.errors?.emailError">
                    Une adresse courriel valide est requise (JEAN.DUPONT@EMAIL.COM).
                  </mat-error>
                  <mat-error role="alert" *ngIf="envelopeDestForm.controls.email.errors?.emailNotValid">
                    Il est nécessaire que l'expéditeur ou que l'ensemble des destinataires soi(en)t un/des agent(s) de
                    l'Etat
                  </mat-error>
                </mat-form-field>
              </form>
            </div>
          </div>
          <mat-list-item role="listitem" class="delete"
            *ngFor="let dest of fileInfos?.recipientsMails; let index = index">
            <span>{{dest}}</span>
            <mat-icon matTooltip="Supprimer le destinataire" (click)="deleteRecipient(index, dest)"
              aria-label="Supprimer le destinataire">delete
            </mat-icon>
          </mat-list-item>
          <mat-list-item role="listitem" class="delete"
            *ngFor="let dest of fileInfos?.deletedRecipients; let index = index">
            <span style="color: red;text-decoration: line-through;">{{dest}}</span>
          </mat-list-item>
        </mat-list>
      </div>
      <div class="admin-card-content-files " *ngIf="fileInfos">
        <div class="subheader">
          <span>Éléments du pli</span>
        </div>
        <ft-file-item class="file-item" *ngFor="let transfer of transfers" [transfer]="transfer" [readOnly]="true">
        </ft-file-item>
      </div>
    </mat-card-content>
    <mat-card-actions align="end" *ngIf="fileInfos">
      <button class="admin-card-actions-btn" mat-button [routerLink]="'/upload'">Retour</button>
    </mat-card-actions>
  </mat-card>
</div>