.admin-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    .admin-card {        
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        .admin-card-header {
            width: 100%;
            align-self: flex-start;
            display: flex;
            flex-direction: column;
            border-bottom: 1px solid var(--ft-asset);        
            .mat-card-title {
                font-size: 16px;
            }
        }
        .admin-card-content {
            overflow-x: hidden;
            overflow-y: auto;
            width: 100%;        
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            &-error {
                color: var(--ft-error);
            }
            &-infos {
                font-size: 14px;
                ::ng-deep .mat-list-item-content {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    .mat-icon {
                        cursor: pointer;
                    }
                }
            }
            &-files {
                border-top: solid 1px var(--ft-mention);
                overflow-x: hidden;
                overflow-y: auto;
                width: 100%;       
                display: flex;
                flex-direction: column;    
                .file-item {
                    width: 100%;
                }
            }
            .subheader {
                color: var(--ft-mention);
                font-size: 16px;
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
        .admin-card-actions-btn {
            background-color: var(--ft-blue-france);
            color: var(--ft-white);
        }
    }
}

@media screen and (min-width: 812px) {
    .admin-wrapper {
        .admin-card {
            height: 60%;
            width: 50%;
        }
    }
}

@media screen and (min-width: 480px) and (max-width: 812px) {
    .admin-wrapper {
        .admin-card {
            height: 60%;
            width: 50%;
        }
    }
}


@media screen and (min-width: 200px) and (max-width: 480px) {
    .admin-wrapper {
        .admin-card {
            margin-top: 215px;
            height: 100%;
            width: 100%;
        }
    }
}