<div>
  <ng-container #flow="flow" [flowConfig]="{}"></ng-container>
  <ng-container [ngTemplateOutlet]="templateRf"></ng-container>
</div>

<ng-template #uploadForm>
  <div
    class="upload-section"
    (dragover)="onDragOver()"
    (drop)="onDrop()"
    (dragleave)="onDrop()"
  >
    <div class="upload-section-content">
      <div class="prefect-scoll" [perfectScrollbar]="perfectScrollbarConfig">
        <p class="upload-section-info text-gris-m1">* Champs obligatoire</p>
        <div class="upload-section-form">
          <div
            class="drop-area"
            flowDrop
            [flow]="flow.flowJs"
            [ngClass]="{ dragover: dragging }"
          >
            <ng-container *ngIf="dragging">
              <h3 class="text-clair font-bold">
                Ajoutez vos fichiers ou dossiers *
              </h3>
              <p class="form-description text-clair font-bold">
                Cliquez sur « Ajouter » ou faites glisser ici vos fichiers pour
                les ajouter
              </p>
            </ng-container>
            <ng-container *ngIf="!dragging">
              <h3 class="text-blue font-bold">
                Ajoutez vos fichiers ou dossiers *
              </h3>
              <p class="form-description  font-bold">
                Cliquez sur « Ajouter » ou faites glisser ici vos fichiers pour
                les ajouter
              </p>
              <file-item
                *ngFor="
                  let transfer of (flow.transfers$ | async).transfers | tm;
                  trackBy: trackTransfer
                "
                [transfer]="transfer"
                (deletedTransfer)="deleteTransfer($event)"
              ></file-item>
              <div
                class="add-file"
                [ngClass]="{ opened: openedButton, closed: !openedButton }"
              >
                <button
                  class="button button-primary"
                  (click)="openedButton = !openedButton"
                >
                  Ajouter
                </button>
                <div class="add-file-items">
                  <p flowButton [flow]="flow.flowJs">Fichier</p>
                  <p flowButton [flow]="flow.flowJs" flowDirectoryOnly="true">
                    Dossier
                  </p>
                </div>
              </div>
              <p
                class="upload-section-errors"
                [hidden]="!errorsMessages.length"
              >
                {{ errorsMessages }}
              </p>
              <div class="upload-section-inputs">
                <mail-input-group
                  (newEmail)="addEmail($event)"
                  (change)="errorsManager($event, 1)"
                  (onBlur)="errorsManager($event, 2)"
                ></mail-input-group>
                <div class="upload-section-emails">
                  <tag
                    *ngFor="let email of emails"
                    (deleted)="deleteEmail($event)"
                    [content]="email"
                  ></tag>
                </div>
                <input
                  type="text"
                  placeholder="Votre courriel*"
                  (keyup)="errorsManager($event, 3)"
                  (blur)="errorsManager($event, 4)"
                  [(ngModel)]="senderMail"
                />
                <label class="checkbox"
                  >Je souhaite protéger mon envoi par un mot de passe
                  <input
                    type="checkbox"
                    [(ngModel)]="withPassword"
                    (change)="errorsManager($event, 5)"
                  />
                  <span></span>
                </label>
                <ng-container *ngIf="withPassword">
                  <password-input
                    [placeholder]="'Saisissez le mot de passe'"
                    [(ngModel)]="password1"
                    (blur)="errorsManager($event, 6)"
                  ></password-input>
                  <password-input
                    [placeholder]="'Confirmer le mot dev passe'"
                    [(ngModel)]="password2"
                    (blur)="errorsManager($event, 7)"
                  ></password-input>
                </ng-container>
                <textarea
                  cols="45"
                  rows="6"
                  [(ngModel)]="message"
                  placeholder="Message (facultatif)"
                ></textarea>
                <label class="checkbox"
                  >J’accepte les
                  <label routerLink="/cgu"
                    >conditions générales d’utilisation*</label
                  >
                  <input type="checkbox" [(ngModel)]="acceptConditions" />
                  <span></span>
                </label>
                <div class="upload-choice-view" *ngIf="!checkChoice()">
                  <h4>
                    Je donne mon avis
                  </h4>
                  <p class="text-gris-m1">
                    Comment trouvez-vous le service FranceTransfert ?
                  </p>
                  <div class="icons">
                    <img
                      *ngFor="let icon of icons; let i = index"
                      [src]="
                        './assets/images/icons/Utilisateur/' +
                        getIcon(icon, i + 1) +
                        '.svg'
                      "
                      alt="{{ icon + 'icon' }}"
                      (click)="selectedView = i + 1; activeView = true"
                      [ngClass]="{ active: selectedView === i + 1 }"
                    />
                  </div>
                  <textarea placeholder="Message (facultatif)"></textarea>
                  <button
                    class=" button button-stroked"
                    [ngClass]="{ disabled: !activeView }"
                    (click)="makeChoice()"
                  >
                    Valider mon avis
                  </button>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <div
      [ngClass]="{ dragover: dragging }"
      class="upload-section-container"
    ></div>
    <button
      class="upload-section-send button button-primary"
      (click)="upload()"
      [ngClass]="{ disabled: checkForm((flow.transfers$ | async).transfers) }"
    >
      envoyer
    </button>
  </div>
</ng-template>

<ng-template #uploadLoading>
  <div class="upload-loading">
    <div class="upload-loading-cercle">
      <circle-progress
        [percent]="
          (flow.transfers$ | async).totalProgress * 100 | number: '1.0-0'
        "
      ></circle-progress>
      <div>
        <h1>
          {{ (flow.transfers$ | async).totalProgress * 100 | number: "1.0-0" }}%
        </h1>
      </div>
    </div>
    <div class="upload-loading-details">
      <h3>C’est parti !</h3>
      <br />
      <p>
        L’envoi de vos fichiers peut prendre quelques minutes. Merci de
        patienter pendant la durée du téléchargement.
      </p>
      <br />
      <p>
        Merci de ne pas fermer la fenêtre avant la fin de l’envoi.
      </p>
    </div>
  </div>
</ng-template>

<ng-template #uploadChoice>
  <upload-choice (nextLayout)="selectLayout($event)"></upload-choice>
</ng-template>

<ng-template #uploadContent>
  <upload-content
    (nextLayout)="selectLayout($event)"
    [transfers]="(flow.transfers$ | async).transfers | tm"
    [emails]="emails"
  ></upload-content>
</ng-template>
