<div>
  <ng-container #flow="flow" [flowConfig]="localConfig"></ng-container>
  <ng-container [ngTemplateOutlet]="templateRf"></ng-container>
</div>
<div [hidden]="showPopupMsg">
  <lib-pop-up-message></lib-pop-up-message>
</div>
<div [hidden]="showPopupList">
  <lib-pop-up-list></lib-pop-up-list>
</div>
<ng-template #uploadForm>
  <div
    class="upload-section"
    (dragover)="onDragOver()"
    (drop)="onDrop()"
    (dragleave)="onDrop()"
    (window:resize)="onResize()"
  >
    <!-- <div class="upload-section-errors" [hidden]="!errorsMessages.length">
      <p>
        {{ errorsMessages }}
      </p>
      <div class="close-btn" (click)="errorsMessages = ''"></div>
    </div>
    <div class="upload-section-errors" [hidden]="checkAcceptation((flow.transfers$ | async).transfers)">
      <p>
        « Merci d’accepter les conditions générales d’utilisation (CGU) afin de pouvoir utiliser le service
        FranceTransfert »
      </p>
      <div class="close-btn" (click)="errorsMessages = ''"></div>
    </div> -->
    <div class="upload-section-content">
      <div>
        <div class="upload-section-form">
          <div class="drop-area" flowDrop [flow]="flow.flowJs" [ngClass]="{ dragover: dragging }">
            <ng-container *ngIf="dragging">
              <div class="dropping-wrapper">
                <rmx-icon name="add-circle-fill" class="dropping-icon"></rmx-icon>
                <p>Déposez vos fichiers ici</p>
              </div>
            </ng-container>
            <ng-container *ngIf="!dragging">
              <div class="upload-section-errors" [hidden]="!errorsMessages.length">
                <p>
                  {{ errorsMessages }}
                </p>
              </div>
              <!-- <p>* Champs obligatoires</p> -->
              <div class="upload-files" *ngIf="!isMobile">
                <div class="upload-files-btn desktop">
                  <div class="flex-btn-container" [ngClass]="{ opened: openedButton, closed: !openedButton }">
                    <div class="files-added">
                      <div class="upload-image">
                        <rmx-icon
                          class="upload"
                          name="upload-cloud-2-fill"
                          matTooltip="Faites glisser ici vos fichiers ou dossier pour les ajouter"
                        >
                        </rmx-icon>
                        <span>Faites glisser ici vos fichiers ou dossier pour les ajouter</span>
                      </div>
                      <!-- <div class="multi-files" *ngIf="flow.flowJs.files.length > 1">
                        {{ flow.flowJs.files.length }} fichiers ajoutés | {{ sumFileSizes | filesize }}
                        <rmx-icon
                          class="edit-2-fill"
                          name="edit-2-fill"
                          matTooltip="Cliquez pour modifier les fichiers"
                          (click)="setFiles(); showPopupList = false"
                        ></rmx-icon>
                      </div> -->
                    </div>
                  </div>
                  <div class="buttons-upload desktop">
                    <div class="buttons-upload-btn" matTooltip="Ajouter un fichier">
                      <rmx-icon
                        name="file-add-fill"
                        flowButton
                        [flow]="flow.flowJs"
                        [flowAttributes]="{ accept: '*/*' }"
                      >
                      </rmx-icon>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="buttons-upload-btn" matTooltip="Ajouter un dossier">
                      <rmx-icon name="folder-add-fill" flowButton [flow]="flow.flowJs" flowDirectoryOnly="true">
                      </rmx-icon>
                    </div>
                  </div>
                </div>
                <lib-file-item
                  *ngFor="let transfer of (flow.transfers$ | async).transfers | tm; trackBy: trackTransfer"
                  [transfer]="transfer"
                  (deletedTransfer)="deleteTransfer($event)"
                ></lib-file-item>
              </div>
              <div class="upload-files" *ngIf="isMobile">
                <div class="upload-files-btn mobile">
                  <div class="buttons-upload mobile">
                    <div class="buttons-upload-btn" matTooltip="Ajouter un fichier">
                      <rmx-icon
                        name="file-add-fill"
                        flowButton
                        [flow]="flow.flowJs"
                        [flowAttributes]="{ accept: '*/*' }"
                      >
                      </rmx-icon>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="buttons-upload-btn" matTooltip="Ajouter un dossier">
                      <rmx-icon name="folder-add-fill" flowButton [flow]="flow.flowJs" flowDirectoryOnly="true">
                      </rmx-icon>
                    </div>
                  </div>
                  <div class="flex-btn-container" [ngClass]="{ opened: openedButton, closed: !openedButton }">
                    <div class="files-added">
                      <div class="upload-image">
                        <rmx-icon name="information-line"></rmx-icon>
                        <span>Ajouter vos fichiers ou dossier</span>
                      </div>
                    </div>
                  </div>
                </div>
                <lib-file-item
                  *ngFor="let transfer of (flow.transfers$ | async).transfers | tm; trackBy: trackTransfer"
                  [transfer]="transfer"
                  (deletedTransfer)="deleteTransfer($event)"
                ></lib-file-item>
              </div>
            </ng-container>

            <div class="upload-section-inputs" *ngIf="!dragging">
              <lib-mail-input-group
                [(ngModel)]="emails"
                (changes)="errorsManager($event, 1)"
                (onBlur)="errorsManager($event, 2)"
                (errors)="emailsErrors($event)"
              ></lib-mail-input-group>
              <div class="upload-section-emails">
                <div *ngIf="emails && emails.length <= 2">
                  <lib-tag *ngFor="let email of emails" (deleted)="deleteEmail($event)" [content]="email"></lib-tag>
                </div>
                <div class="upload-section-emails-list" *ngIf="emails && emails.length > 2">
                  {{ emails.length }} adresses
                  <rmx-icon
                    class="edit-2-fill"
                    name="more-fill"
                    matTooltip="Cliquez pour modifier les destinataires"
                    (click)="setEmails(); showPopupList = false"
                  ></rmx-icon>
                </div>
              </div>
              <lib-mail-input
                (blur)="errorsManager($event, 4)"
                (keyup)="errorsManager($event, 3)"
                [(ngModel)]="senderMail"
              ></lib-mail-input>
              <div class="textarea">
                <mat-form-field>
                  <mat-label>Message</mat-label>
                  <textarea matInput cols="10" rows="6" [(ngModel)]="message" maxlength="2000"></textarea>
                </mat-form-field>
              </div>
              <div class="label-cgu">
                <label class="checkbox"
                  >J’accepte les
                  <label (click)="openBlank('/cgu')">conditions générales d’utilisation*</label>
                  <input type="checkbox" [(ngModel)]="acceptConditions" />
                  <span></span>
                </label>
              </div>
              <button
                class="upload-section-send button button-primary"
                (click)="upload()"
                [ngClass]="{ disabled: checkForm((flow.transfers$ | async).transfers) || loadApi }"
              >
                envoyer
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div [ngClass]="{ dragover: dragging }" class="upload-section-container"></div>
  </div>
</ng-template>

<ng-template #uploadLoading>
  <div class="upload-loading">
    <div class="upload-loading-cercle" *ngIf="!uploadError">
      <circle-progress [percent]="(flow.transfers$ | async).totalProgress * 100 | number: '1.0-0'"></circle-progress>
      <div>
        <h1>{{ (flow.transfers$ | async).totalProgress * 100 | number: '1.0-0' }}%</h1>
      </div>
    </div>
    <div class="upload-loading-details" *ngIf="!uploadError">
      <h3>C’est parti !</h3>
      <br />
      <p>
        L’envoi de vos fichiers peut prendre quelques minutes. Merci de patienter pendant la durée du téléchargement.
      </p>
      <br />
      <p>
        Merci de ne pas fermer la fenêtre avant d'atteindre 100%.
      </p>
    </div>
    <div class="upload-loading-error" *ngIf="uploadError">
      <img src="./assets/images/svgs/illustration-envoi-echec.svg" alt="echec-icon" />
      <p><strong>Le transfert a échoué !</strong> <br /></p>
      <p>
        <br />
        Nous vous invitons à essayer de transférer de nouveau vos fichiers/dossiers.<br />
        Si le problème persiste, n’hésitez pas à consulter la rubrique <a href="/faq" target="_blank">FAQ</a>.
      </p>
      <button class="upload-loading-error-button button button-primary" (click)="retournFromError()">
        Retour au formulaire
      </button>
    </div>
  </div>
</ng-template>

<ng-template #uploadChoice>
  <app-upload-choice
    (nextLayout)="selectLayout($event)"
    (setHaveChoice)="setHaveChoice($event)"
    [emailSender]="senderMail"
    [haveChoice]="haveChoice"
    [expireDate]="expireDate"
  ></app-upload-choice>
</ng-template>

<ng-template #uploadContent>
  <app-upload-content
    (nextLayout)="selectLayout($event)"
    [transfers]="(flow.transfers$ | async).transfers | tm"
    [emails]="emails"
    [message]="message"
  ></app-upload-content>
</ng-template>
