<div>
  <ng-container #flow="flow" [flowConfig]="localConfig"></ng-container>
  <ng-container [ngTemplateOutlet]="templateRf"></ng-container>
</div>

<ng-template #uploadForm>
  <div class="upload-section" (dragover)="onDragOver()" (drop)="onDrop()" (dragleave)="onDrop()">
    <div class="upload-section-content">
      <div class="prefect-scoll" [perfectScrollbar]="perfectScrollbarConfig">
        <p class="upload-section-info text-gris-m1">* Champs obligatoires</p>
        <div class="upload-section-form">
          <div class="drop-area" flowDrop [flow]="flow.flowJs" [ngClass]="{ dragover: dragging }">
            <ng-container *ngIf="dragging">
              <h3 class="text-clair font-bold">
                Ajoutez vos fichiers ou dossiers *
              </h3>
              <p class="form-description text-clair font-bold">
                Cliquez sur « Ajouter » ou faites glisser ici vos fichiers pour les ajouter
              </p>
            </ng-container>
            <ng-container *ngIf="!dragging">
              <h3 class="text-blue font-bold">
                Ajoutez vos fichiers ou dossiers *
              </h3>
              <p class="form-description  font-bold">
                Cliquez sur « Ajouter » ou faites glisser ici vos fichiers pour les ajouter
              </p>
              <lib-file-item
                *ngFor="let transfer of (flow.transfers$ | async).transfers | tm; trackBy: trackTransfer"
                [transfer]="transfer"
                (deletedTransfer)="deleteTransfer($event)"
              ></lib-file-item>
              <div class="add-file" [ngClass]="{ opened: openedButton, closed: !openedButton }">
                <button class="button button-primary" (click)="openedButton = !openedButton">
                  Ajouter
                </button>
                <div class="add-file-items">
                  <p flowButton [flow]="flow.flowJs">Fichier</p>
                  <p flowButton [flow]="flow.flowJs" flowDirectoryOnly="true">
                    Dossier
                  </p>
                </div>
              </div>
              <p class="upload-section-errors" [hidden]="!errorsMessages.length">
                {{ errorsMessages }}
              </p>
              <p class="upload-section-informations" [hidden]="checkAcceptation((flow.transfers$ | async).transfers)">
                « Merci d’accepter les conditions générales d’utilisation (CGU) afin de pouvoir utiliser le service
                FranceTransfert »
              </p>
              <p class="form-description-mails font-bold">
                Pour envoyer vos fichiers à plusieurs destinataires, vous pouvez copier/coller les adresses courriels de
                chaque destinataire (séparés par un « ; » dans la zone « envoyer à »)
              </p>
              <div class="upload-section-inputs">
                <lib-mail-input-group
                  [(ngModel)]="emails"
                  (changes)="errorsManager($event, 1)"
                  (onBlur)="errorsManager($event, 2)"
                  (errors)="emailsErrors($event)"
                ></lib-mail-input-group>
                <div class="upload-section-emails">
                  <lib-tag *ngFor="let email of emails" (deleted)="deleteEmail($event)" [content]="email"></lib-tag>
                </div>
                <input
                  type="text"
                  placeholder="Votre courriel*"
                  (keyup)="errorsManager($event, 3)"
                  (blur)="errorsManager($event, 4)"
                  [(ngModel)]="senderMail"
                />
                <label class="checkbox"
                  >Je souhaite protéger mon envoi par un mot de passe
                  <input type="checkbox" [(ngModel)]="withPassword" (change)="errorsManager($event, 5)" />
                  <span></span>
                </label>
                <ng-container *ngIf="withPassword">
                  <lib-password-input
                    [placeholder]="'Saisissez le mot de passe'"
                    [(ngModel)]="password1"
                    (blur)="errorsManager($event, 6)"
                  ></lib-password-input>
                  <lib-password-input
                    [placeholder]="'Confirmez le mot de passe'"
                    [(ngModel)]="password2"
                    (blur)="errorsManager($event, 7)"
                  ></lib-password-input>
                </ng-container>
                <textarea
                  cols="45"
                  rows="6"
                  [(ngModel)]="message"
                  placeholder="Message (facultatif)"
                  maxlength="2000"
                ></textarea>
                <label class="checkbox"
                  >J’accepte les
                  <label (click)="openBlank('/cgu')">conditions générales d’utilisation*</label>
                  <input type="checkbox" [(ngModel)]="acceptConditions" />
                  <span></span>
                </label>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <div [ngClass]="{ dragover: dragging }" class="upload-section-container"></div>
    <button
      class="upload-section-send button button-primary"
      (click)="upload()"
      [ngClass]="{ disabled: checkForm((flow.transfers$ | async).transfers) || loadApi }"
    >
      envoyer
    </button>
  </div>
</ng-template>

<ng-template #uploadLoading>
  <div class="upload-loading">
    <div class="upload-loading-cercle" *ngIf="!uploadError">
      <circle-progress [percent]="(flow.transfers$ | async).totalProgress * 100 | number: '1.0-0'"></circle-progress>
      <div>
        <h1>{{ (flow.transfers$ | async).totalProgress * 100 | number: '1.0-0' }}%</h1>
      </div>
    </div>
    <div class="upload-loading-details" *ngIf="!uploadError">
      <h3>C’est parti !</h3>
      <br />
      <br />
      <br />
      <p>
        L’envoi de vos fichiers peut prendre quelques minutes. Merci de patienter pendant la durée du téléchargement.
      </p>
      <br />
      <p>
        Merci de ne pas fermer la fenêtre avant la fin de l’envoi.
      </p>
    </div>
    <div class="upload-loading-error" *ngIf="uploadError">
      <img src="./assets/images/svgs/illustration-envoi-echec.svg" alt="echec-icon" />
      <p><strong>Le transfert a échoué !</strong> <br /></p>
      <p>
        <br />
        Nous vous invitons à essayer de transférer de nouveau vos fichiers/dossiers.<br />
        Si le problème persiste, n’hésitez pas à consulter la rubrique <a href="/faq" target="_blank">FAQ</a>.
      </p>
      <button class="upload-loading-error-button button button-primary" (click)="retournFromError()">
        Retour au formulaire
      </button>
    </div>
  </div>
</ng-template>

<ng-template #uploadChoice>
  <app-upload-choice
    (nextLayout)="selectLayout($event)"
    (setHaveChoice)="setHaveChoice($event)"
    [emailSender]="senderMail"
    [haveChoice]="haveChoice"
  ></app-upload-choice>
</ng-template>

<ng-template #uploadContent>
  <app-upload-content
    (nextLayout)="selectLayout($event)"
    [transfers]="(flow.transfers$ | async).transfers | tm"
    [emails]="emails"
    [message]="message"
  ></app-upload-content>
</ng-template>
