@import "../helpers/mixins";

circle-progress {
  float: left;
  margin-left: 23px;
  line-height: 75px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    border-top: 3px solid $c-blue;
    border-left: 3px solid $c-blue;
    top: 17px;
    left: 15px;
    border-radius: 3px;
    height: 8px;
    width: 8px;
    transform: rotate(45deg);
  }
  &::after {
    content: "";
    position: absolute;
    height: 12px;
    width: 3px;
    top: 19px;
    border-radius: 3px;
    left: 19px;
    background-color: $c-blue;
  }
}

svg {
  height: 40px;
  width: 40px;
}
