<div>
  <ng-container [ngTemplateOutlet]="templateRf"></ng-container>
</div>
<ng-template #downloadSection>
  <div class="download-section">
    <div class="prefect-scoll" [perfectScrollbar]="perfectScrollbarConfig">
      <p class="download-section-info text-gris-m1" *ngIf="downloadInfos?.withPassword">
        * Champ obligatoire
      </p>
      <div class="download-section-icon"></div>
      <h3 class="download-section-title">Vos fichiers à télécharger</h3>
      <p class="download-section-description">
        Vos fichiers sont disponibles jusqu’au <b>{{ downloadInfos?.validUntilDate | date: 'dd MMMM yyyy':'fr' }}</b>
      </p>
      <div class="download-section-emails">
        <p class="title">Votre expéditeur est :</p>
        <lib-tag [content]="downloadInfos?.senderEmail" [withoutDelete]="true"></lib-tag>
      </div>
      <div class="download-section-password" *ngIf="downloadInfos?.withPassword">
        <p class="title">Ce transfert est sécurisé par un mot de passe* :</p>
        <lib-password-input [placeholder]="'Saisissez votre mot de passe*'" [(ngModel)]="password"></lib-password-input>
      </div>
      <div class="download-section-files">
        <p class="title">Récapitulatif des éléments envoyés :</p>
        <lib-file-item *ngFor="let transfer of transfers" [transfer]="transfer" [withoutDelete]="true"></lib-file-item>
      </div>
    </div>
    <button
      class="download-section-action button button-primary"
      (click)="download()"
      [ngClass]="{ disabled: checkValid() }"
    >
      Télécharger les fichiers
    </button>
  </div>
</ng-template>

<ng-template #downloadchoice>
  <app-download-choice (nextLayout)="selectLayout($event)"></app-download-choice>
</ng-template>
