.app-root {
    .app-header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;
    }    
    .sidenav-content {
      height: 100%;
        .app-content {
            height: 100%;
            width: 100%;           
        }
    }
}

::ng-deep .mat-tooltip {
    color: var(--ft-mention) !important;
    background-color: var(--ft-white) !important;
    border: solid 1px var(--ft-mention) !important;
    border-radius: 50%;
    font-size: 12px !important;
    line-height: 20px !important;
}

::ng-deep .mat-form-field.mat-focused {
    .mat-form-field-label {
        color: var(--ft-blue-france);
    }
    .mat-form-field-ripple {
        background-color: var(--ft-blue-france);
    }
    .mat-form-field-required-marker {
        color: var(--ft-blue-france);
    }
    .mat-input-element {
        color: var(--ft-blue-france);
    }
}

::ng-deep .mat-form-field.mat-form-field-invalid {
    .mat-input-element {
        color: var(--ft-error);
    }
    .mat-form-field-label {
        color: var(--ft-error);
        .mat-form-field-required-marker {
            color: var(--ft-error);
        }
    }
    .mat-form-field-ripple {
        background-color: var(--ft-error);
    }
}

::ng-deep .tootlip-ml.mat-tooltip{
    max-width:max-content !important;
    white-space: pre-wrap;
}

@media screen and (min-width: 812px) {
    ::ng-deep .mat-sidenav-container {
        // background-image: url('../assets/images/image_fond.png');
        background-size: cover;
    }
    ::ng-deep .mat-drawer-content {
        position: unset;
        margin-top: 114px;
        max-height: calc(100% - 114px);        
    }
}

@media screen and (min-width: 480px) and (max-width: 812px) {
    ::ng-deep .mat-sidenav {
        width: 100%;
        height: 100%;
        top: 0 !important;
    }
    ::ng-deep .mat-sidenav-container {
        // background-image: url('../assets/images/image_fond.png');
        background-size: cover;
        width: 100%;
        height: 100%;        
    }
    ::ng-deep .mat-drawer-content {
        position: unset;
        margin-top: 10px;
        max-height: calc(100% - 10px);
        overflow: hidden !important;
    }
}

@media screen and (min-width: 200px) and (max-width: 480px) {
    ::ng-deep .mat-sidenav {
        width: 100%;
        height: 100%;
        top: 0 !important;
    }
}