<div class="download-choice">
  <div class="prefect-scoll" [perfectScrollbar]="{}">
    <div class="download-choice-icon"></div>
    <div class="download-choice-details">
      <h3>Téléchargement réussi !</h3>
      <p class="text-gris-m1">
        Vos fichiers ont bien été téléchargés.
      </p>
      <br />
    </div>
    <div class="download-choice-view">
      <h4>
        Je donne mon avis
      </h4>
      <p class="text-gris-m1">
        Comment trouvez-vous le service FranceTransfert ?
      </p>
      <div class="icons">
        <img
          *ngFor="let icon of icons; let i = index"
          [src]="'./assets/images/icons/Utilisateur/' + getIcon(icon, 3 - i) + '.svg'"
          alt="{{ icon + 'icon' }}"
          (click)="selectedView = 3 - i; activeView = true"
          [ngClass]="{ active: selectedView === 3 - i }"
        />
      </div>
      <textarea placeholder="Message (facultatif)" [(ngModel)]="message" maxlength="2000"></textarea>
      <button class=" button button-stroked" [ngClass]="{ disabled: !activeView || haveChoice }" (click)="makeChoice()">
        Valider mon avis
      </button>
    </div>
  </div>
  <div class="download-choice-button">
    <button class=" button button-primary" [ngClass]="{ disabled: !haveChoice }" (click)="goto()">
      Accueil
    </button>
  </div>
</div>
