<form [formGroup]="loginForm" class="connect-container">
  <div class="card-formulaire">
    <div class="connect-parameters">
      <div class="connect-header">
        <span> {{'CourrielConnect' | translate}}</span>
      </div>



      <div class="form-group">
        <mat-form-field>
          <mat-label> {{'VotreCourriel' | translate}} </mat-label>
          <input type="input" id="sendercourriel" name="email" matInput placeholder="jean.dupont@domaine.fr"
            formControlName="email" autocomplete="email">
          <mat-error role="alert" *ngIf="email.errors?.required && codeSent == false"> {{'ExpéditeurRequis' |
            translate}}
          </mat-error>
          <mat-error role="alert" *ngIf="email.errors?.email && codeSent == false"> {{'AdresseRequis' | translate}}
          </mat-error>
        </mat-form-field>
      </div>

      <p> {{'CodeConfrimationEnvoyé' | translate}}</p>

      <div class="card-actions evenly" *ngIf="!visible">
        <mat-card-actions>
          <button type="button" aria-label="Accueil" mat-raised-button class="card-actions-btn" (click)="backToHome()">
            {{'ACCUEIL' | translate}}</button>
        </mat-card-actions>
        <mat-card-actions>
          <button type="submit" mat-raised-button aria-label="Envoyer code" class="card-actions-btn"
            [disabled]="codeSent || !email.valid && visible" (click)="sendCode($event)"> {{'EnvoyerCode' | translate}}
          </button>
        </mat-card-actions>
      </div>

      <ng-container *ngIf="visible">
        <div>
          <p> {{'SaisieCode' | translate}}</p>
        </div>
        <div class="field-contact">
          <mat-form-field>
            <mat-label>Code reçu </mat-label>
            <input id="codeReceived" #codeReceived id="codeReceived" name="code" formControlName="code" matInput
              placeholder="Code" autocomplete="off">
          </mat-form-field>
          <div class="content-error" *ngIf="error && error.statusCode === 401">
            <span role="alert"> {{'CodeInvalide' | translate}}</span><br />
            <span *ngIf="error?.codeTryCount > 0" role="alert">{{'NombreEchecs' |
              translate}}{{error?.codeTryCount}}</span>
            <span *ngIf="!error?.codeTryCount" role="alert" [innerHTML]="'CodeNonDisponible' | translate"> </span>
          </div>
          <div class="content-error" *ngIf="error && error.statusCode === 400">
            <span role="alert"> {{'ErreurTechnique' | translate}} </span>
          </div>
        </div>
        <div class="card-actions evenly">
          <button type="button" mat-raised-button aria-label="Annuler" class="card-actions-btn color"
            (click)="cancel($event)"> {{'ANNULER' | translate}}</button>
          <button type="submit" mat-raised-button aria-label="Valider" class="card-actions-btn color"
            [disabled]="!form.valid || (error && !error?.codeTryCount)" (click)="validateCode($event)"> {{'VALIDER' |
            translate}}</button>
        </div>
      </ng-container>

    </div>


  </div>
</form>