<div class="upload-content">
  <h6 class="upload-content-return" (click)="goto('uploadChoice')">Retour</h6>
  <div class="prefect-scoll" [perfectScrollbar]="perfectScrollbarConfig">
    <h3 class="upload-content-title">
      Récapitulatif de l’envoi
    </h3>
    <div class="upload-content-emails">
      <p class="title">Envoyé à :</p>
      <lib-tag *ngFor="let email of emails" [content]="email" [withoutDelete]="true"></lib-tag>
    </div>
    <div class="upload-content-files">
      <p class="title">Récapitulatif des éléments envoyés :</p>
      <p class="upload-content-message" *ngIf="message?.length">{{ message }}</p>
      <lib-file-item *ngFor="let transfer of transfers" [transfer]="transfer" [withoutDelete]="true"></lib-file-item>
    </div>
    <div class="upload-content-size">
      <p class="title">Au total :</p>
      <h2>{{ transfers | filemtpsize | filesize }}</h2>
    </div>
  </div>
</div>
