.error-message{
  color: var(--ft-error);
}

@media screen and (min-width: 960px) {

.overflow-clip {
  //text-overflow: ellipsis;
  //width: 113px;
  padding: 18px 16px 13px 0px;

}


.mat-column-token {
  flex: none;
  width: 6.5%;
  padding-right: 0px;
}

.mat-column-taille {
  flex: none;
  width: 6.5%;
}

.mat-column-type {
  flex: none;
  width: 6.5%;
}


.mat-column-dateEnvoi {
  flex: none;
  width: 10%;
}

.mat-column-finValidite {
  flex: none;
  width: 10%;
}



.mat-column-objet {
  flex: none;
  width: 25%;
}

.mat-column-destinataires {
  flex: none;
  width: 25%;
}

}




.overflow-clip-header{
  padding: 0px 16px 0px 0;
}

// #content {
//   display: flex;
//   flex-direction: column;
//   padding: 21px;
//   align-items: baseline;

// }

mat-cell > span.truncate-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.overflow-ellipsis {
  text-overflow: ellipsis;
  width: 100px;
}



.mat-width{
 width: 112%;
}

// .mat-table {
//   width: 100%;
//   table-layout: fixed;
// }

// .mat-table .mat-row  {
//   overflow: hidden;
//   width:auto;
//   text-overflow: ellipsis;
//   white-space: nowrap;
// }


// th, td {
//   overflow: hidden;
//   width:auto;
//   text-overflow: ellipsis;
//   white-space: nowrap;
// }

// table {
//   width: 100%;
//   table-layout: fixed;
// }

// .mat-table .mat-cell {
//   overflow: hidden;
//   width:auto;
//   text-overflow: ellipsis;
//   white-space: nowrap;
// }



@media screen and (max-width: 1000px) {
  .mat-table {
    border: 0;
    vertical-align: middle
  }

  .mat-table caption {
    font-size: 1em;
  }

  // Enable this to hide header
  .mat-table .mat-header-cell {
    border: 10px solid;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .mat-table .mat-header-row{
    min-height: 0px;
  }

  .mat-table .mat-row {
    border-bottom: 5px solid #ddd;
    display: block;
  }


  .mat-table .mat-cell {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 1em;
    text-align: right;
    font-weight: bold;
    height:30px;
    margin-bottom: 4%;
    padding-right: 12%;;
    padding-left: 24px;
  }
  .mat-table .mat-cell:before {

    content: attr(data-label);
    float: left;
    //text-transform: uppercase;
    font-weight: normal;
    font-size: .85em;
  }
  .mat-table .mat-cell:last-child {
    border-bottom: 0;
  }
    .mat-table .mat-cell:first-child {
    margin-top: 4%;
  }

}
