<form [formGroup]="envelopeLinkForm" class="envelope-link-form-container">

    <div  class="envelope-link-form-info">
        <span>Les champs marqués d'une * sont obligatoires</span>
    </div> 

    <div class="envelope-link-form-group">
        <mat-form-field>
            <mat-label>Nom de votre transfert</mat-label>
            <input matInput placeholder="(Facultatif)" formControlName="subject">
            <mat-icon matSuffix
                matTooltip="Personnalisez le nom de votre transfert afin de le rendre plus facilement identifiable. Cela personnalisera aussi le lien de votre transfert.">
                info_outline</mat-icon>
        </mat-form-field>
    </div>

    <div class="envelope-link-form-group">
        <mat-form-field>
            <mat-label>Expéditeur</mat-label>
            <input matInput placeholder="Votre adresse mail" formControlName="from" required>
            <mat-error role="alert" *ngIf="f.from.errors?.required">Un expéditeur est requis.</mat-error>
            <mat-error role="alert" *ngIf="f.from.errors?.email">Une adresse mail valide est requise.</mat-error>
            <mat-error role="alert" *ngIf="f.from.errors?.notValid">France transfert est réservé aux échanges entre et
                avec le personnel de l’État.</mat-error>
        </mat-form-field>
    </div>

    <div class="envelope-link-form-group">
        <mat-form-field>
            <mat-label>Message</mat-label>
            <textarea cdkTextareaAutosize cdkAutosizeMinRows="5" cdkAutosizeMaxRows="10" matInput
                placeholder="(Facultatif)" formControlName="message"></textarea>
        </mat-form-field>
    </div>

    <div class="envelope-link-form-group">
        <mat-checkbox formControlName="cguCheck">J'accepte les <span class="link" (click)="routeToInNewWindow('/cgu')">CGU</span></mat-checkbox>
    </div>
</form>