.envelope-link-form-container {
    height: 100%;
    .envelope-link-form-group {
        .mat-form-field {
            width: 100%;
            margin-top: 20px;
            .mat-icon {
                cursor: pointer;
            }
        }
        .link {
            color: var(--ft-blue-france);
            text-decoration: underline;
        }
    }    
}