<div class="download-wrapper">
    <ft-check-validation-code *ngIf="!downloadValidated" (dowloadValidated)="onDownloadValidated($event)" [component]="'download'" class="check-validation-code-wrapper"></ft-check-validation-code>    
    <ft-list-elements *ngIf="downloadValidated" [component]="'download'" [transfers]="transfers" class="list-elements-wrapper"></ft-list-elements>
    <ft-download-elements *ngIf="downloadValidated" class="download-elements-wrapper" (dowloadStarted)="onDowloadStarted($event)"></ft-download-elements>
    <!-- <ft-end-message [component]="'download'" class="end-message-wrapper"></ft-end-message> -->
</div>