<mat-card class="auteur-liste-card">
  <mat-card-title>Auteurs</mat-card-title>
  <mat-card-header>
  </mat-card-header>

  <mat-selection-list #listeAuteurs>
    <h3 mat-subheader></h3>
    <mat-list-option *ngFor="let auteur of auteurs$ |async" (click)='selectionnerAuteur(auteur.id)'>
      <mat-divider></mat-divider>
      {{ auteur.prenom + ' ' + auteur.nom }}
      <mat-divider></mat-divider>
    </mat-list-option>
  </mat-selection-list>
  <div class="div-button">
    <button mat-raised-button color="primary" routerLink="/auteurs/ajouter">Ajouter</button>
    <button mat-raised-button color="primary" [disabled]="listeAuteurs.selectedOptions.selected.length === 0"
      (click)="supprimerAuteurs()">Supprimer</button>
    <button mat-raised-button color="basic" routerLink="/">Retour</button>
  </div>
</mat-card>