<form [formGroup]="envelopeParametersForm" class="envelope-parameters-form-container">

    <div class="envelope-parameters-form-group">
        <mat-form-field>
            <mat-label>Délai de validité</mat-label>
            <!-- <input matInput formControlName="expiryDays" autocomplete="off">
            <span matSuffix>jours</span>
            <mat-error role="alert" *ngIf="f.expiryDays.errors?.min">Le délai de validité ne peut être inférieur à 1 jour</mat-error>
            <mat-error role="alert" *ngIf="f.expiryDays.errors?.max">Le délai de validité ne peut être supérieur à 90 jours</mat-error> -->
            <input matInput [matDatepicker]="picker" formControlName="expiryDays" [min]="minDate" [max]="maxDate">
            <mat-datepicker #picker></mat-datepicker>
            <mat-icon matSuffix aria-hidden="true" matTooltip="Modifier la date de fin de validité" (click)="picker.open()">event
            </mat-icon>
        </mat-form-field>
    </div>

    <div class="envelope-parameters-form-group">
        <mat-form-field>
            <mat-label>Mot de passe</mat-label>
            <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" autocomplete="off">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Masquer le mot password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-icon matSuffix aria-hidden="true" [matTooltip]="passwordHelp" [matTooltipClass]="'tootlip-ml'">info_outline</mat-icon>
            <mat-error role="alert" *ngIf="f.password.errors?.minLength">Le mot de passe doit comporter 10 caractères minimum
            </mat-error>
            <mat-error role="alert" *ngIf="f.password.errors?.maxLength">Le mot de passe doit comporter 20 caractères maximum
            </mat-error>
            <mat-error role="alert" *ngIf="f.password.errors?.pattern">Le mot de passe ne respecte pas les critères demandés
            </mat-error>
        </mat-form-field>
    </div>

    <!-- <div class="envelope-parameters-form-group">
        <mat-slide-toggle formControlName="eachDownloadNotify" [labelPosition]="'before'">Être notifié à chaque
            téléchargement</mat-slide-toggle>
    </div>
    <div class="envelope-parameters-form-group">
        <mat-slide-toggle formControlName="allDownloadNotify" [labelPosition]="'before'">Être notifié quand tous les
            destinataires auront
            téléchargé le transfert</mat-slide-toggle>
    </div> -->

</form>
