<div class="politique-protection-donnees-wrapper">
    <mat-card class="politique-protection-donnees-card">
        <mat-card-header class="politique-protection-donnees-card-header">
            <h1 #politiquedeprotectiondesdonnees>Politique de protection des données</h1>
        </mat-card-header>
        <mat-card-content class="politique-protection-donnees-card-content">
            <h2 #droitsdespersonnes>Droits des personnes</h2>
            <p>
                <span>Une donnée à caractère personnel est définie de la manière suivante : toute information relative à
                    une
                    personne physique susceptible d'être identifiée, directement ou indirectement. Sont ainsi
                    considérées
                    comme données à caractère personnel, les adresses courriel, et les adresses IP.</span>
                <span>Le service France transfert bêta se conforme dans la collecte et la gestion de vos données à
                    caractère
                    personnel, à la loi n° 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux
                    libertés,
                    dans sa version actuelle, dite « Informatique et Libertés », et au règlement (UE) 2016/679 du 27
                    avril
                    2016 (dit « RGPD »).</span>
            </p>
            <ol>
                <li>
                    <span>Les données à caractère personnel qui vous sont demandées sont nécessaires pour accéder au
                        service
                        France transfert. Elles sont destinées au Service Numérique du ministère de la culture. La base
                        légale
                        du traitement est l’exécution d’une mission d’intérêt public.</span>
                </li>
                <li>
                    <span>
                        Elles seront communiquées pour ces mêmes finalités aux personnes du ministère de la culture
                        maintenant en condition opérationnelle le service France transfert bêta.
                    </span>
                </li>
                <li>
                    <span>
                        Délais de conservation des données à caractère personnel
                    </span>
                    <span>
                        Les données sont enregistrées et conservées dans les conditions décrites ci-après :
                    </span>
                    <ul>
                        <li>
                            <span>Pour une durée 13 mois, lorsque le service identifie si vous êtes un nouvel
                                utilisateur à des fins
                                exclusives de statistiques, à compter de la première connexion.</span>
                        </li>
                        <li>
                            <span>Pour une durée illimitée, jusqu’au vidage du cache utilisateur pour les adresses
                                courriels auxquelles
                                vous avez envoyé des fichiers. Ceci afin de faciliter leur saisie lors des nouveaux
                                envois à ces
                                destinataires.</span>
                        </li>
                        <li>
                            <span>Pour une durée de 31 jours, le service identifie si vous avez déjà confirmé votre
                                adresse courriel, afin
                                d’éviter toute usurpation d’identité, si vous êtes un agent du ministère de la
                                culture.</span>
                        </li>
                    </ul>
                </li>
                <li>
                    <span>
                        Le ministère de la culture s’engage à prendre toutes les mesures nécessaires pour garantir la
                        sécurité et la confidentialité de vos données, dans le respect du cadre légal. Il s’engage en
                        outre à
                        n’opérer aucune commercialisation des informations que vous nous transmettez et à ne pas les
                        communiquer
                        à des tiers, en dehors des cas prévus par la loi.
                    </span>
                </li>
                <li>
                    <span>
                        Vous bénéficiez d’un droit d’accès, de rectification, d’effacement, d’un droit à la portabilité
                        des
                        informations qui vous concernent ainsi que d’un droit à la limitation des traitements qui
                        s’exercent
                        auprès du Délégué à la protection des données par courrier électronique à l’adresse suivante :
                        <a href="mailto:delegue-protection-donnees@culture.gouv.fr">delegue-protection-donnees@culture.gouv.fr</a> ou par courrier postal à l’adresse suivante, Déléguée
                        ministérielle à la protection des données – 182 rue Saint-Honoré – 75033 Paris Cedex 01, en
                        justifiant
                        de votre identité par tout moyen.
                    </span>
                </li>
                <li>
                    <span>
                        Vous avez le droit d’introduire une réclamation auprès de la Commission Nationale de
                        l’Informatique
                        et des Libertés (CNIL), autorité de contrôle en charge du respect des obligations en matière de
                        données
                        à caractère personnel.
                    </span>
                </li>
            </ol>
        </mat-card-content>
    </mat-card>
</div>