<div class="menu-list-wrapper">
    <mat-list class="menu-list">
        <mat-list-item class="menu-list-item end" (click)="onToggleSidenav()">
            <mat-icon mat-list-icon aria-label="Fermer le menu">close</mat-icon>
            <div mat-line>Fermer</div>
        </mat-list-item>
        <mat-list-item (click)="onToggleSidenav()">
            <ft-language-selector class="language-selector-wrapper"></ft-language-selector>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item class="menu-list-item" (click)="goToLink('/faq')">
            <mat-icon aria-hidden="true">help_outline</mat-icon>
            <span>FAQ</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item class="menu-list-item" (click)="goToLink('/contact')">
            <mat-icon aria-hidden="true">mail_outline</mat-icon>
            <span>Contact</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item *ngIf="isLoggedIn()" class="menu-list-item" (click)="logout()">
            <mat-icon aria-hidden="true">logout</mat-icon>
            <span>Me déconnecter</span>
        </mat-list-item>
        <mat-list-item *ngIf="!isLoggedIn()" class="menu-list-item" (click)="goToLink('/connect')">
            <mat-icon aria-hidden="true">person_outline</mat-icon>
            <span>Me connecter</span>
        </mat-list-item>
        <mat-divider></mat-divider>
    </mat-list>
</div>