@import "./mixins.scss";

// create class text per color
@each $name, $hex in $colors {
  .text-#{"" + $name + ""} {
    color: $hex;
  }
}

// create class background per color
@each $name, $hex in $colors {
  .bg-#{"" + $name + ""} {
    background-color: $hex;
  }
}

// create class font-weight per weight
@each $name, $weight in $fonts {
  .font-#{"" + $name + ""} {
    font-weight: $weight;
  }
}
